$highlight-color: #bbf34b;
$main-width: 550px;

* {
	font-family: 'Lato', verdana, sans-serif;
	color: #444;
	font-weight: 300;
	letter-spacing: 1px;
}

a {
    text-decoration: none;
    border-bottom: 2px solid $highlight-color;
    font-weight: 700;

    &:hover {
        color: #000;
        border-bottom: 2px solid darken($highlight-color, 20%); 
    }
}

main {
    max-width: $main-width;
    margin: 0 auto;
    padding: 20px 0 80px 0;
}

body {
    margin: 0;
}
