$highlight-color: #bbf34b;
$main-width: 550px;

* {
	font-family: 'Lato', verdana, sans-serif;
	color: #333;
	font-weight: 300;
	letter-spacing: 1px;
}

main {
    max-width: $main-width;
    margin: 0 auto;
}

body {
    margin: 0;
}
