@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin filter($filter) {
  -webkit-filter: $filter;
     -moz-filter: $filter;
      -ms-filter: $filter;
          filter: $filter;
}
