.team {
    overflow: hidden;
    zoom: 1;
    padding-bottom: 10px;

    article {
        box-sizing: border-box;
        float: left;
        width: 33%;
        text-align: center;
        padding: 10px 5px;

        h2 {
            margin-bottom: 0;
        }

        h3 {
            margin-top: 5px;
            font-size: 0.95em;
        }
    }
    
    .mugshot {
        $mugshot-size: 150px;
        width: $mugshot-size;
        height: $mugshot-size;
        margin: 0 auto;
        @include border-radius($mugshot-size);
        background-size: cover;
        border: 6px solid lighten($highlight-color, 15%);

        @include filter(saturate(60%));
    }

    .brendan .mugshot {
        background-image: url('/img/brendan.jpg');
    }

    .erik .mugshot {
        background-image: url('/img/erik.jpg');
    }

    .ross .mugshot {
        background-image: url('/img/ross.jpg');
    }
}
